//Variables
$main-font:"Comic Sans MS", cursive, sans-serif;

body{
  background: url("../images/clouds.jpg") no-repeat center center fixed;
}

.container{
  margin-top: 100px;
  text-align: center;
  border: 1px solid #2AD4CE;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #CCCCCC;
  padding: 30px;
  max-width: 600px;
  max-height: 700px;
}

.title{
  font-family: $main-font;
  font-size: 36px;
  font-weight: bold;
}

#location, #temperature, #weather{
  font-family: $main-font;
  font-weight: bold;
  font-size: 26px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px; }
  .toggle.ios .toggle-handle {
    border-radius: 20px; }
